package templates

templ Admin(){
    <div id="content">
    Admin pagina met admin dingen
    </div>

    <div>
        <button type="button" hx-get="/admin/ledenbeheer" hx-target="#content" >Ledenbeheer</button>
    </div>
}
