package templates

import "sjb_site/internal/store"

templ Index(user *store.User) {
    <div>
    Hallo {user.Email}, trek
    </div>
    if user.User_type == "admin" {
        <div>Wtf bro is admin</div>
    }
}

templ GuestIndex() {
	<div>
	Welcome guest
	</div>
}
